<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.hexiaofei.handframecode">

    <application>
        <activity android:name="com.demo.hexiaofei.multithread.base_thread_synchronos.HandThreadSynchronousActivity"></activity>
        <activity android:name=".handler_frame.test.HandlerFrameTestActivity" />
    </application>

</manifest>